footer {
    background-color: #F5F5F5;
    padding-top: 100px;
    .box {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
        .boxes {
            display: flex;
            color: $secundario1;
            i {
                font-size: 55px;
                padding-right: 15px;
            }
            .boxes__text {
                h3 {
                    font-size: $fontSizeH3;
                    font-weight: $fontWeight;
                    margin: 0;
                }
                p {
                    font-size: $fontSizeP;
                    margin-bottom: 0;
                }
            }
            span {
                border-right: 4px solid;
                margin-right: 10%;
            }
        }
        .boxes_nav {
            h3 {
                font-size: $fontSizeH3;
                font-weight: $fontWeight;
                padding-bottom: 10px;
            }
            li {
                font-size: $fontSizeP;
            }
            .boxes__contacto {
                display: flex;
                padding-bottom: 10px;
                i {
                    font-size: 25px;
                    padding-right: 10px;
                }
                h4 {
                    font-size: $fontSizeP;
                }
            }
            .boxes__redes {
                i {
                    font-size: 40px;
                    padding-right: 15px;
                }
            }
        }
    }
    .copy-footer {
        display: flex;
        justify-content: center;
    }
}