@media (max-width: 992px) {
  .nav-header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
    .caja-link {
      .link {
        display: none;
      }
    }
    .menu-icon {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
    .menu-icon {
      display: block;
    }
  
    .nav-header {
        ul {
            display: none;
        }
    }
  }