$fontSizeH1: clamp(24px, 5vw, 100px);
$fontSizeH2: clamp(20px, 5vw, 44px);
$fontSizeH3: clamp(18px, 5vw, 27px);
$fontSizeH4: clamp(16px, 5vw, 20px);
$fontSizeP: clamp(14px, 5vw, 16px);
$fontWeight: 700;
$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$colorTexto1: #000000;
$colorTexto2: #ffffff;
$colorDeFondos1: #4C5536;
$colorDeFondos2: #616D43;
$colorDeFondos3: #919F69;
$secundario1: #454545;
$secundario2: #5d5d5d; 
$secundario3: #dfdfdf; 

$shadowBox: 10px 10px 7px rgba(0, 0, 0, 0.2);
$gradiente: linear-gradient(141deg, rgba(26,89,102,1) 15%, rgba(45,50,80,1) 72%, rgba(2,0,36,1) 100%);
