@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 1000px;
  overflow-x: hidden;
  /*     background-image: url(../img/fondo.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding: 0;
}

.container .row .nav_logo {
  display: flex;
  justify-content: center;
}
.container .row .nav_logo .logo {
  width: 100px;
}
.container .row .nav_bar ul li a {
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}

.nav-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #919F69;
}
.nav-header .nav_logo {
  transition: 0.35s ease;
}
.nav-header .nav_logo:hover {
  opacity: 0.5;
}
.nav-header .nav_logo .logo {
  width: 8rem;
}
.nav-header .caja-link .link {
  display: flex;
  gap: 2rem;
}
.nav-header .caja-link .link a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 0.5rem;
  position: relative;
}
.nav-header .caja-link .link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}
.nav-header .caja-link .link a:hover::before {
  transform: scaleX(1);
}
.nav-header .menu-icon {
  all: unset;
  color: #000;
  cursor: pointer;
  display: none;
}
.nav-header .menu-icon .fa-bars {
  font-size: 25px;
}

.caja-inicio {
  background: linear-gradient(0deg, rgb(223, 223, 223) 10%, rgb(145, 159, 105) 90%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja-inicio .box_tittle {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.caja-inicio .box_tittle .firt_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.caja-inicio .box_tittle .firt_title h1 {
  font-size: clamp(24px, 5vw, 100px);
  font-weight: 600;
}
.caja-inicio .box_tittle .firt_title p {
  font-size: clamp(16px, 5vw, 20px);
  max-width: 80ch;
  color: #fff;
}
.caja-inicio .box_tittle .btn_title {
  padding: 10px 30px;
  border-radius: 6px;
  background-image: linear-gradient(135deg, #616D43 0%, #919F69 100%);
  box-shadow: 0 20px 30px -6px rgba(145, 159, 105, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: #000;
}
.caja-inicio .box_tittle .btn_title:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.caja-inicio .box_tittle .btn_title:active {
  opacity: 0.5;
}

.fondo_contenedor {
  background: #919F69;
}
.fondo_contenedor .box_product {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.fondo_contenedor .box_product img {
  width: 500px;
}
.fondo_contenedor .box_product .box_text {
  padding-left: 10%;
  color: #fff;
}
.fondo_contenedor .box_product .box_text h2 {
  font-size: clamp(20px, 5vw, 44px);
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fondo_contenedor .box_product .box_text p {
  font-size: clamp(14px, 5vw, 16px);
  max-width: 60ch;
}
.fondo_contenedor .box_product .box_text .btn_section {
  padding: 10px 30px;
  border-radius: 6px;
  background-image: linear-gradient(135deg, #616D43 0%, #919F69 100%);
  box-shadow: 0 20px 30px -6px rgba(145, 159, 105, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: #000;
  background: #fff;
}
.fondo_contenedor .box_product .box_text .btn_section:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.fondo_contenedor .box_product .box_text .btn_section:active {
  opacity: 0.5;
}

footer {
  background-color: #F5F5F5;
  padding-top: 100px;
}
footer .box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
footer .box .boxes {
  display: flex;
  color: #454545;
}
footer .box .boxes i {
  font-size: 55px;
  padding-right: 15px;
}
footer .box .boxes .boxes__text h3 {
  font-size: clamp(18px, 5vw, 27px);
  font-weight: 700;
  margin: 0;
}
footer .box .boxes .boxes__text p {
  font-size: clamp(14px, 5vw, 16px);
  margin-bottom: 0;
}
footer .box .boxes span {
  border-right: 4px solid;
  margin-right: 10%;
}
footer .box .boxes_nav h3 {
  font-size: clamp(18px, 5vw, 27px);
  font-weight: 700;
  padding-bottom: 10px;
}
footer .box .boxes_nav li {
  font-size: clamp(14px, 5vw, 16px);
}
footer .box .boxes_nav .boxes__contacto {
  display: flex;
  padding-bottom: 10px;
}
footer .box .boxes_nav .boxes__contacto i {
  font-size: 25px;
  padding-right: 10px;
}
footer .box .boxes_nav .boxes__contacto h4 {
  font-size: clamp(14px, 5vw, 16px);
}
footer .box .boxes_nav .boxes__redes i {
  font-size: 40px;
  padding-right: 15px;
}
footer .copy-footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav-header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
  }
  .nav-header .caja-link .link {
    display: none;
  }
  .nav-header .menu-icon {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .nav-header ul {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
